<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HikeTrackerWatchApp (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>HikeTrackerWatchApp (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>HikeTrackerWatchApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>HikingTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>HikingTrackerTestHike.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BB63A051FD5CCE600E9F4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB63A1C1FD5CCE600E9F4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB63A271FD5CCE600E9F4A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BC1DE631FD6553B00CB20D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
